 # APP
PORT=3003
API_PREFIX=/api
SWAGGER_PATH=/api/docs

# JWT AUTH
JWT_SECRET=foobar

# MAIL
SMTP_CLIENT = "gmail"
SMTP_SERVER = "smtp.gmail.com"
SMTP_USER="YOUR_SMTP_USER"
SMTP_PASSWORD="YOUR_SMTP_PASSWORD"

DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydatabase"

# S3
S3_ENDPOINT='http://minio:9000'
S3_ACCESS_KEY='minioadmin'
S3_SECRET_KEY='minioadmin'
S3_REGION='EU'
S3_BUCKET_NAME='shop-define-bucket'

## for development auth email code
DEV_AUTH_CODE=12345
